<footer>

    <div class="footerrow">
            <div class="fcolumn">
                    <a href=""> <h3 color="white">Study Abroad</h3></a>  
                    <a href=""> <p>How to choose your destination</p></a>  
                    <a href=""> <p>Study abroad</p></a>
                    <a href=""> <p>Guide for parents</p></a>
                    <a href=""> <p>THE World University Rankings</p></a>
                    <a href=""> <p>QS World University Rankings</p></a>
             </div>  

                <div class="fcolumn">
                    <a href=""> <h3>Useful Links</h3></a> 
                    <a href=""> <p>IDP Blog</p></a> 
                    <a href=""> <p>Engineering courses</p></a>
                    <a href=""> <p>Health and medicine</p></a>
                    <a href=""> <p>Information technology</p></a>
                    <a href=""> <p>management courses</p></a>
                    <a href=""> <p>Scholarships to study abroad</p></a>
                    <a href=""> <p>Student Reviews</p></a>
             </div>  

             <div class="fcolumn">
                    <a href=""> <h3>IELTS</h3></a> 
                    <a href=""> <p>What is IELTS?</p></a>  
                    <a href=""> <p>Prepare for IELTS</p></a>
                    <a href=""> <p>computer-delivered IELTS</p></a>
                    <a href=""> <p>Book my IELTS test</p></a>
                    <a href=""> <p>IELTS for UKVI</p></a>
                    <a href=""> <p>IELTS test dates</p></a>
                    <a href=""> <p>About IDP IELTS</p></a>
                 
             </div>  

             <div class="fcolumn">
                    <a href=""> <h3>Connect with IDP</h3></a> 
                    <a href=""> <p>About IDP</p></a>
                    <a href=""> <p>Request an appointment</p></a>
                    <a href=""> <p>Contact us</p></a>
                    <a href=""> <p>About IDP Corporate</p></a>
                    <a href=""> <p>IDP career</p></a>
                    <a href=""> <p>Customer Grievances</p></a>
                    <a href=""> <p>Corporate responsibility</p></a>
             </div>  
    
                
                
    </div>
    <div class="middlefooter">
    
    
        <div class="copy">
        
        <p>  Copyright &copy IDP Education</p>
        </div>
        
        <div class="copy">
        
        <p>Disclaimer | Privacy Policy | Terms Of Use | Investors</p>
        </div>
        <div class="copy">
        <img src="../../assets/img1.png" alt="logo"/>
        <img src="../../assets/img2.png" alt="logo"/>
        <img src="../../assets/img3.png" alt="logo"/>
        <img src="../../assets/img4.png" alt="logo"/>
        <img src="../../assets/img5.png" alt="logo"/>
        <img src="../../assets/img6.png" alt="logo"/>
        </div>
        </div>
    
    
    </footer>
    

