

<div class="container">

    <div class="blogcards">
        <img src="{{blogs.urlToImage}}" loading = "lazy" onerror="this.src='../../assets/noimage.jpg'">
        <h2 class="title"><span>Title:</span>{{blogs.title}}</h2>
        <p><B>Author:</B>{{blogs.author}}</p>
        <p><B>Content:</B>{{blogs.content}}</p>
        <p><B>Description:</B>{{blogs.description}}</p>
        <p><B> publishedAt:</B>{{blogs.publishedAt | date:'medium' }}</p> 

        
        <button class="readmore" (click)="updateBlog(blogs)"> Update Blog</button>
        <br><br>

    </div>


</div>

